In [162]:
#hacmeos las imporaciones necesarias
import pandas as pd
import numpy as np
from pandas import json_normalize #para convertir diccionarios y listas
import ast #para convettir strings en listas o diccionarios

In [102]:
#configuramos pandas para que muestre todas las columnas del dataframe
pd.set_option('display.max_columns',None)

#importamos el archivo csv
datos=pd.read_csv('../../PI MLOps-20230726T005937Z-001/PI MLOps/movies_dataset.csv')

C:\Users\kanza\AppData\Local\Temp\ipykernel_20000\3844907441.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  datos=pd.read_csv('../../PI MLOps-20230726T005937Z-001/PI MLOps/movies_dataset.csv')

In [103]:
#convertimos el archivo csv en un dataframe
data=pd.DataFrame(datos)

#vemos cuantas columnas tiene y la cantidad de valores no nulos del datafram
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [104]:
"completamos los valores faltantes dela columna revenue con el valor 0"
data['revenue'].fillna(0,inplace=True)

#volvemos a imprimir un resumen del dataframe para ver si la cantidad de valores nulos de la columna revenue cambi√≥
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45466 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [105]:
#idem que con la columna revenue pero con la columna budget
data['budget'].fillna(0, inplace=True)
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [106]:
#eliminamos los valores faltantes pero solo de la columna release_date
data.dropna(subset=['release_date'],inplace=True)

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45379 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45379 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45379 non-null  object
 3   genres                 45379 non-null  object
 4   homepage               7769 non-null   object
 5   id                     45379 non-null  object
 6   imdb_id                45365 non-null  object
 7   original_language      45368 non-null  object
 8   original_title         45379 non-null  object
 9   overview               44438 non-null  object
 10  popularity             45377 non-null  object
 11  poster_path            45040 non-null  object
 12  production_companies   45379 non-null  object
 13  production_countries   45379 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45379 non-null  float64
 16  runtime                45130 non-null  float64
 17  spoken_languages       45376 non-null  object
 18  status                 45296 non-null  object
 19  tagline                20398 non-null  object
 20  title                  45376 non-null  object
 21  video                  45376 non-null  object
 22  vote_average           45376 non-null  float64
 23  vote_count             45376 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [108]:
#hacemos una copia del dataset para probar el desanidamiento de datos
data2=data.copy()

#eliminamos las columnas innecesarias
eliminar=['video','imdb_id','adult','original_title','poster_path','homepage']
data2.drop(columns=eliminar, inplace=True)
data2

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0

In [109]:
#la columna belongs_to_collection parece ser un diccionario pero es en realidad un string
type(data2['belongs_to_collection'][0])

str

In [110]:
#para convertira en diccionario usamos la librer√≠a ast
#los valores nulos en la columna belong_to_collection ocasionan un error en el m√©todo literal_eval
#para evitar eso los completamos el m√©todo fillna con una lista vac√≠a
data2['belongs_to_collection'].fillna('[]',inplace=True)
data2['belongs_to_collection']=data2['belongs_to_collection'].apply(ast.literal_eval)

In [111]:
#idem con las otras columnas, primero completamos los valores faltantes con listas vac√≠as
data2['genres'].fillna('[]',inplace=True)
data2['production_companies'].fillna('[]',inplace=True)
data2['production_countries'].fillna('[]',inplace=True)
data2['spoken_languages'].fillna('[]',inplace=True)

In [112]:
#aplicamos el m√©todo literal_eval a las columnas necesarias
columnas=['genres','production_companies','production_countries','spoken_languages']

data2[columnas]=data2[columnas].applymap(ast.literal_eval)
data2

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0
45462,[],0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0
45463,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,[],0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0
45465,[],0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0

In [113]:
#verificamos que las columnas anteriores hayan cambiado su tipo de dato
type(data2['genres'][0])

list

In [114]:
#de la columna genre nos interesa el nombre del g√©nero m√°s que su id
#prodcedemos a extraer el nombre del g√©nero de cada diccionario y a almacenarlo en una lista
#definimos la funci√≥n
def extract_genre(genrelist):
    listageneros=[genre['name'] for genre in genrelist]
    return listageneros

#le aplicamos la funci√≥n a la columna genres y guardamos la lista en una nueva columna

data2['genre_names']=data2['genres'].apply(extract_genre)

In [115]:
#la operaci√≥n anterior funcion√≥
#aplicamos la misma idea a las otras columnas
data2[['belongs_to_collection','production_companies','production_countries','spoken_languages']]

#vemos que todas las columnas son diccionarios o listas de diccionarios y el atributo que nos interesa est√° guardado en la key name

,belongs_to_collection,production_companies,production_countries,spoken_languages
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
1,[],"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,[],[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
...,...,...,...,...
45460,[],"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]"
45462,[],"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'iso_639_1': 'tl', 'name': ''}]"
45463,[],"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
45464,[],"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",[]
45465,[],[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]","[{'iso_639_1': 'en', 'name': 'English'}]"

In [116]:
#definimos una funci√≥n para extraer el valor de las keys en caso de que las columnas sean diccionarios
def extract_dicts(diccionario):
    if type(diccionario)==dict:
        names=[diccionario['name']]
        return names    
    else:
        return []
    
#funci√≥n para el caso en que el registro sea una lista de datos
def extract_list(lista):
    if type(lista)==list:
        names=[elemento['name'] for elemento in lista]
        return names
    else:
        return []

In [117]:
#aplicamos la funci√≥n a las columnas correspondientes

data2['belongs_to_collection']=data2['belongs_to_collection'].apply(extract_dicts)
data2['production_companies']=data2['production_companies'].apply(extract_list)
data2['production_countries']=data2['production_countries'].apply(extract_list)
data2['spoken_languages']=data2['spoken_languages'].apply(extract_list)
data2

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,genre_names
0,[Toy Story Collection],30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,"[Animation, Comedy, Family]"
1,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Fran√ßais]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[Adventure, Fantasy, Family]"
2,[Grumpy Old Men Collection],0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[Romance, Comedy]"
3,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[Comedy, Drama, Romance]"
4,[Father of the Bride Collection],0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,[Comedy]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,104.0,[English],Released,NaN,Robin Hood,5.7,26.0,"[Drama, Action, Romance]"
45462,[],0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,360.0,[],Released,NaN,Century of Birthing,9.0,3.0,[Drama]
45463,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,90.0,[English],Released,A deadly game of wits.,Betrayal,3.8,6.0,"[Action, Drama, Thriller]"
45464,[],0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,[]
45465,[],0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],2017-06-09,0.0,75.0,[English],Released,NaN,Queerama,0.0,0.0,[]

In [118]:
#extraemos el a√±o de la columna release_date
data2['release_year']=data2['release_date'].str[:4]

In [165]:
#convertimos los string de la columna release_date a objetos del tipo date
data2['date']=pd.to_datetime(data2['release_date'],errors='coerce').dt.date

KeyError: 'release_date'

In [120]:
#eliminamos las columnas innecesarias
data2.drop('release_date',axis=1, inplace=True)

In [121]:
data2.drop('genres',axis=1,inplace=True)

In [159]:
#intentamos convertir la columna budget a float para poder calcular la columna return pero recibimos un error de valores imposibles de convertir
data2['budget']=data2['budget'].astype(float)

ValueError: could not convert string to float: '/ff9qCepilowshEtG2GYWwzt2bs4.jpg'

In [158]:
'''son 3 valores inv√°lidos, dada la naturaleza de los datos no conviene eliminarlos ya q no podemos asegurar que no tengan un gran impacto en el dataset
es decir, si fueran valores num√©ricos resultado de alguna medici√≥n quiz√°s tendr√≠amos otros resultados similares o iguales y eliminar 3 registros de un total de m√°s de 45mil no tendr√≠amos mucho error
pero quiz√°s estos 3 registros son pel√≠culas √∫nicas entonces no deber√≠amos eliminarlas'''
resultados=data2[data2['budget'].str.contains(r'\D')]
resultados

,belongs_to_collection,budget,id,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,genre_names,release_year,date
19730,[],/ff9qCepilowshEtG2GYWwzt2bs4.jpg,1997-08-20,104.0,Released,NaN,[],[],0.0,NaN,[],NaN,NaN,NaN,NaN,NaN,"[Carousel Productions, Vision View Entertainme...",NaN,NaT
29503,[],/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,2012-09-29,68.0,Released,NaN,[],[],0.0,NaN,[],NaN,NaN,NaN,NaN,NaN,"[Aniplex, GoHands, BROSTA TV, Mardock Scramble...",NaN,NaT
35587,[],/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,2014-01-01,82.0,Released,Beware Of Frost Bites,[],[],0.0,NaN,[],NaN,NaN,NaN,NaN,NaN,"[Odyssey Media, Pulser Productions, Rogue Stat...",NaN,NaT

In [160]:
#usamos el m√©todo to_numeric de pandas para convertir la columna budget a float y reemplazar los valores inv√°lidos por 0
data2['budget']=pd.to_numeric(data['budget'],errors='coerce').fillna(0).astype(float)

In [161]:
#creamos la columna return
data2['return']=data2['revenue']/data2['budget']

In [163]:
#reemplazamos los valores infinitos o nan con cer
data2['return'].replace([np.inf,-np.inf,np.nan],0, inplace=True)

In [164]:
data2

,belongs_to_collection,budget,id,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,genre_names,release_year,date,return
0,[Toy Story Collection],30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,"[Animation, Comedy, Family]",1995.0,1995-10-30,12.451801
1,[],65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],262797249.0,104.0,"[English, Fran√ßais]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[Adventure, Fantasy, Family]",1995.0,1995-12-15,4.043035
2,[Grumpy Old Men Collection],0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[Romance, Comedy]",1995.0,1995-12-22,0.000000
3,[],16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[Comedy, Drama, Romance]",1995.0,1995-12-22,5.090760
4,[Father of the Bride Collection],0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,[Comedy],1995.0,1995-02-10,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,[],0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",0.0,104.0,[English],Released,NaN,Robin Hood,5.7,26.0,"[Drama, Action, Romance]",1991.0,1991-05-13,0.000000
45462,[],0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],0.0,360.0,[],Released,NaN,Century of Birthing,9.0,3.0,[Drama],2011.0,2011-11-17,0.000000
45463,[],0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],0.0,90.0,[English],Released,A deadly game of wits.,Betrayal,3.8,6.0,"[Action, Drama, Thriller]",2003.0,2003-08-01,0.000000
45464,[],0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,[],1917.0,1917-10-21,0.000000
45465,[],0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],0.0,75.0,[English],Released,NaN,Queerama,0.0,0.0,[],2017.0,2017-06-09,0.000000

In [175]:
data2.drop('release_year',axis=1,inplace=True)

In [176]:
#guardamos el dataset limpio en un archivo csv
data2.to_csv('cleandata.csv', index=False)